@model MyBlog.DTO.UserDTO

@{
    var rs = ViewBag.RecordStasuses as List<MyBlog.DTO.RecordStatusDTO>;
}

<div class="right_col" role="main">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Kullanıcılar</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go!</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Kullanıcı Düzenle</h2>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form method="post" class="form-horizontal form-label-left" novalidate>
                            <input type="hidden" name="UserId" value="@Model.UserId" />
                            <p>
                                Blog kullanıcılarının düzenleme bölümüdür.
                            </p>
                            <span class="section">Kullanıcı Bilgileri</span>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Adı <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstName" class="form-control col-md-7 col-xs-12" name="FirstName" placeholder="Kategori Adı" required="required" type="text" value="@Model.FirstName">
                                </div>
                            </div>

                            <div class="ln_solid"></div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Soyadı <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstName" class="form-control col-md-7 col-xs-12" name="LastName" placeholder="Kategori Adı" required="required" type="text" value="@Model.LastName">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Şifre <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstName" class="form-control col-md-7 col-xs-12" name="Password" placeholder="Kategori Adı" required="required" type="text" value="@Model.Password">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    E-Posta <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstName" class="form-control col-md-7 col-xs-12" name="EmailAddress" placeholder="Kategori Adı" required="required" type="text" value="@Model.EmailAddress">
                                </div>
                            </div>
                            <div class="ln_solid"></div>

                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Telefon <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input id="FirstName" class="form-control col-md-7 col-xs-12" name="MobilePhone" placeholder="Kategori Adı" required="required" type="text" value="@Model.MobilePhone">
                                </div>
                            </div>

                            @*<div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                       Kayıt Durumu
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="CategoryName" class="form-control col-md-7 col-xs-12" name="CategoryName" placeholder="Kategori Adı" required="required" type="text" value="@Model.CategoryName">
                                    </div>
                                </div>*@

                            <div class="ln_solid"></div>
                            <div class="item form-group" @*class="col-md-6 co-md-offset-3"*@>
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                                    Kategori Durumu <span class="required"></span>
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control col-md-7 col-xs-12" name="RecordStatusName">
                                        <option value="seçiniz">seçiniz</option>
                                        @foreach (var item in rs)
                                        {
                                            if (Model.RecordStatusId == item.RecordStatusId)
                                            {
                                                <option value="@item.RecordStatusName" selected>@item.RecordStatusName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.RecordStatusName">@item.RecordStatusName</option>
                                            }

                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input class="btn btn-success" type="submit" name="Update" value="Güncelle" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
